<div class="cx-table-view">
  <div class="cx-table-view__header">
    @if (hasHeading) {
      <h2 class="cx-table-view__heading">{{ heading }}</h2>
    }
    <div class="cx-table-view__actions">
      <ng-content select="[actions], [cxTableViewActions]" />
    </div>

    @if (showFilterBar) {
      <cx-filter-bar
        class="cx-table-view__filters"
        [mode]="filterBarMode"
        [showActiveFilters]="showActiveFilters"
        [quickFilters]="quickFilters"
        [selectedQuickFilterId]="selectedQuickFilterId"
        [toggleFilters]="toggleFilters"
        [selectedToggleFilterIds]="selectedToggleFilterIds"
        [filters]="filters$()"
        [filterValues]="resolvedFilterValues$()"
        [queryValue]="queryValue"
        [queryFields]="queryFields"
        [queryConditions]="queryConditions"
        [queryToFilterTranslation]="queryToFilterTranslation"
        [filtersToQueryConditions]="filtersToQueryConditions"
        [queryAriaLabel]="queryAriaLabel"
        [savedViews]="savedViews"
        [displayMode]="density === 'comfortable' ? 'comfortable' : 'compact'"
        [groupByOptions]="groupByOptions"
        [groupBy]="groupBy"
        [sortOptions]="sortOptions"
        [sortBy]="sortBy"
        [sortDirection]="sortDirection"
        [thenBy]="thenBy"
        [thenByDirection]="thenByDirection"
        [columnOptions]="columnOptions"
        [visibleColumnIds]="visibleColumnIds"
        [pinnedColumnIds]="pinnedColumnIds"
        (modeChange)="filterBarModeChange.emit($event)"
        (selectedQuickFilterIdChange)="selectedQuickFilterIdChange.emit($event)"
        (selectedToggleFilterIdsChange)="selectedToggleFilterIdsChange.emit($event)"
        (filterValuesChange)="onFilterValuesChange($event)"
        (filterQueryChange)="filterQueryChange.emit($event)"
        (filterLoadMore)="filterLoadMore.emit($event)"
        (filterPopoverOpenChange)="onFilterPopoverOpenChange($event)"
        (queryValueChange)="queryValueChange.emit($event)"
        (queryConditionsChange)="queryConditionsChange.emit($event)"
        (queryValueSearch)="queryValueSearch.emit($event)"
        (queryValueRetry)="queryValueRetry.emit($event)"
        (savedViewSelect)="savedViewSelect.emit($event)"
        (activeSavedViewIdChange)="activeSavedViewIdChange.emit($event)"
        (displayModeChange)="densityChange.emit($event === 'comfortable' ? 'comfortable' : 'compact')"
        (groupByChange)="groupByChange.emit($event)"
        (sortByChange)="sortByChange.emit($event)"
        (sortDirectionChange)="sortDirectionChange.emit($event)"
        (thenByChange)="thenByChange.emit($event)"
        (thenByDirectionChange)="thenByDirectionChange.emit($event)"
        (visibleColumnIdsChange)="visibleColumnIdsChange.emit($event)"
        (pinnedColumnIdsChange)="pinnedColumnIdsChange.emit($event)"
        (exportTable)="exportTable.emit()"
        (resetTable)="resetTable.emit()"
      />
    }
  </div>

  <div class="cx-table-view__surface">
    <cx-table
      [columns]="visibleColumns"
      [rows]="rows"
      [density]="density"
      [rowActivation]="rowActivation"
      [showHeaders]="showHeaders"
      [columnsResizable]="columnsResizable"
      [columnsReorderable]="columnsReorderable"
      [stickyHeader]="stickyHeader"
      [zebra]="zebra"
      [loading]="loading"
      [showRowActions]="showRowActions"
      [rightClickMenu]="rightClickMenu"
      [sort]="sort"
      [filterValues]="resolvedFilterValues$()"
      [emptyState]="emptyState"
      [emptyStateAction]="emptyStateAction"
      [noMatchesState]="noMatchesState"
      [activeRowId]="activeRowId"
      [selectionMode]="selectionMode"
      [selectedRowIds]="selectedRowIds"
      (sortChange)="sortChange.emit($event)"
      (filterValuesChange)="onFilterValuesChange($event)"
      (resetTable)="resetTable.emit()"
      (filterQueryChange)="filterQueryChange.emit($event)"
      (filterLoadMore)="filterLoadMore.emit($event)"
      (columnHeaderMenuOpenChange)="onColumnHeaderMenuOpenChange($event)"
      (columnOrderChange)="columnOrderChange.emit($event)"
      (columnPinChange)="onColumnPinChange($event)"
      (columnVisibilityChange)="onColumnVisibilityChange($event)"
      (activeRowIdChange)="activeRowIdChange.emit($event)"
      (emptyStateActionSelect)="emptyStateActionSelect.emit($event)"
      (rowActivate)="rowActivate.emit($event)"
      (selectedRowIdsChange)="selectedRowIdsChange.emit($event)"
      (rowMenuItemSelect)="rowMenuItemSelect.emit($event)"
    />
  </div>

  @if (showPagination) {
    <div class="cx-table-view__footer">
      <cx-pagination
        [page]="page"
        [pageSizes]="pageSizes"
        (pageChange)="pageChange.emit($event)"
      />
    </div>
  }

  <cx-action-bar
    [data]="actionBarData"
    (deselectAll)="actionBarDeselectAll.emit()"
    (action)="actionBarAction.emit($event)"
  />
</div>
