@if (hasHeading()) {
  <div class="cx-alert__surface">
    <div class="cx-alert__visual" aria-hidden="true">
      @if (loading) {
        <cx-spinner [mood]="mood" aria-hidden="true" />
      } @else {
        <cx-icon [icon]="resolvedIcon" [size]="20" />
      }
    </div>

    <div class="cx-alert__content">
      <div class="cx-alert__heading">{{ resolvedHeading }}</div>
      <div class="cx-alert__description"><ng-content /></div>
    </div>

    @if (visibleAction; as action) {
      <cx-button
        class="cx-alert__action"
        [text]="action.text.trim()"
        [href]="actionHref(action)"
        [mood]="actionMood"
        size="small"
        [rounded]="true"
        (pressed)="onActionSelect(action)"
      />
    }

    @if (dismissible) {
      <cx-icon-button
        class="cx-alert__dismiss"
        icon="remove"
        [ariaLabel]="dismissAriaLabel"
        size="small"
        [rounded]="true"
        (pressed)="onDismiss()"
      />
    }
  </div>
}
