<div class="cx-checkbox-wrapper" [class.cx-checkbox-wrapper--disabled]="disabled">
  <label
    class="cx-checkbox"
    [class.cx-checkbox--selected]="selected$()"
    [class.cx-checkbox--indeterminate]="indeterminate$()"
    [class.cx-checkbox--has-content]="hasContent$()"
    data-shortcut-ignore=" "
  >
    <input
      class="cx-checkbox__input"
      type="checkbox"
      [checked]="selected$()"
      [indeterminate]="indeterminate$()"
      [disabled]="disabled"
      [attr.aria-describedby]="visibleHint$() ? hintId : null"
      (change)="onNativeChange($event)"
      (focus)="onFocus(true)"
      (blur)="onFocus(false)"
    />

    <span
      class="cx-checkbox__icon"
      [class.cx-checkbox__icon--selected]="selected$()"
      [class.cx-checkbox__icon--indeterminate]="indeterminate$()"
      aria-hidden="true"
    >
      <span class="cx-checkbox__check"></span>
    </span>

    @if (visibleText$()) {
      <span class="cx-checkbox__label">{{ visibleText$() }}</span>
    } @else if (custom) {
      <span class="cx-checkbox__label"><ng-content /></span>
    }
  </label>

  @if (visibleHint$()) {
    <div class="cx-checkbox__hint" [attr.id]="hintId">{{ visibleHint$() }}</div>
  }
</div>
