<div
  class="cx-status-tag"
  [class.cx-status-tag--default]="mood === 'default'"
  [class.cx-status-tag--info]="mood === 'info'"
  [class.cx-status-tag--success]="mood === 'success'"
  [class.cx-status-tag--warning]="mood === 'warning'"
  [class.cx-status-tag--danger]="mood === 'danger'"
  [class.cx-status-tag--icon-override]="icon"
>
  <span class="cx-status-tag__icon" aria-hidden="true">
    <cx-icon [name]="iconName()" [size]="16" />
  </span>
  @if (text.trim()) {
    <span class="cx-status-tag__label">{{ text }}</span>
  }
</div>
