<div class="cx-state-message" [class.cx-state-message--horizontal]="layout === 'horizontal'">
  @if (showSpinner) {
    <div class="cx-state-message__icon">
      <cx-spinner size="xlarge" mood="default" />
    </div>
  } @else if (showIcon) {
    <div class="cx-state-message__icon">
      <cx-icon [name]="resolvedIcon" size="64" />
    </div>
  }

  <div class="cx-state-message__body">
    @if (hasHeading) {
      <div class="cx-state-message__heading">{{ resolvedHeading }}</div>
    }

    @if (hasDescription) {
      <div class="cx-state-message__text">{{ resolvedDescription }}</div>
    }

    <div class="cx-state-message__content"><ng-content /></div>

    @if (hasActions()) {
      <div class="cx-state-message__actions">
        @if (visibleAction; as action) {
          <cx-button
            [text]="action.text"
            [transparent]="isActionTransparent(action)"
            [mood]="resolveActionMood(action)"
            [icon]="action.icon"
            [appendIcon]="action.appendIcon"
            [disabled]="action.disabled ?? false"
            [loading]="action.loading ?? false"
            [ariaLabel]="action.ariaLabel"
            (pressed)="onActionPressed(action)"
          />
        }
        @if (visibleSecondaryAction; as action) {
          <cx-button
            [text]="action.text"
            [transparent]="isActionTransparent(action)"
            [mood]="resolveActionMood(action)"
            [icon]="action.icon"
            [appendIcon]="action.appendIcon"
            [disabled]="action.disabled ?? false"
            [loading]="action.loading ?? false"
            [ariaLabel]="action.ariaLabel"
            (pressed)="onSecondaryActionPressed(action)"
          />
        }
      </div>
    }
  </div>
</div>
