:host {
  display: inline-flex;
  flex: 0 0 auto;
  container-type: inline-size;
  width: var(--cx-avatar-size, 32px);
  height: var(--cx-avatar-size, 32px);
}

:host(.cx-avatar-host--small) {
  --cx-avatar-size: 24px;
}

:host(.cx-avatar-host--default) {
  --cx-avatar-size: 32px;
}

:host(.cx-avatar-host--large) {
  --cx-avatar-size: 48px;
}

.cx-avatar {
  display: flex;
  width: var(--cx-avatar-size);
  height: var(--cx-avatar-size);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 16cqi;
  background: var(--cx-avatar-background, var(--cyan-opacity));
  color: var(--cx-avatar-color, var(--cyan));
}

:host(.cx-avatar-host--blue) {
  --cx-avatar-background: var(--blue-opacity);
  --cx-avatar-color: var(--blue);
}

:host(.cx-avatar-host--cyan) {
  --cx-avatar-background: var(--cyan-opacity);
  --cx-avatar-color: var(--cyan);
}

:host(.cx-avatar-host--lime) {
  --cx-avatar-background: var(--lime-opacity);
  --cx-avatar-color: var(--lime);
}

:host(.cx-avatar-host--green) {
  --cx-avatar-background: var(--green-opacity);
  --cx-avatar-color: var(--green);
}

:host(.cx-avatar-host--yellow) {
  --cx-avatar-background: var(--yellow-opacity);
  --cx-avatar-color: var(--yellow);
}

:host(.cx-avatar-host--orange) {
  --cx-avatar-background: var(--orange-opacity);
  --cx-avatar-color: var(--orange);
}

:host(.cx-avatar-host--tangerine) {
  --cx-avatar-background: var(--tangerine-opacity);
  --cx-avatar-color: var(--tangerine);
}

:host(.cx-avatar-host--red) {
  --cx-avatar-background: var(--red-opacity);
  --cx-avatar-color: var(--red);
}

:host(.cx-avatar-host--pink) {
  --cx-avatar-background: var(--pink-opacity);
  --cx-avatar-color: var(--pink);
}

:host(.cx-avatar-host--purple) {
  --cx-avatar-background: var(--purple-opacity);
  --cx-avatar-color: var(--purple);
}

:host(.cx-avatar-host--violet) {
  --cx-avatar-background: var(--violet-opacity);
  --cx-avatar-color: var(--violet);
}

.cx-avatar__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cx-avatar__initials {
  font-size: 40cqi;
  font-weight: var(--font-weight-bold);
  line-height: 1;
  text-transform: uppercase;
  user-select: none;
}

.cx-avatar__icon {
  width: 52%;
  height: 52%;
  color: currentColor;
}
