<label
  class="cx-big-radio"
  [class.cx-big-radio--selected]="selected$()"
  [class.cx-big-radio--disabled]="disabled"
  [class.cx-big-radio--has-icon]="!!icon"
>
  <input
    class="cx-big-radio__input"
    type="radio"
    [checked]="selected$()"
    [disabled]="disabled"
    [attr.aria-label]="heading || description || null"
    (change)="activate()"
    (focus)="onFocus(true)"
    (blur)="onFocus(false)"
  />

  <div class="cx-big-radio__indicator" aria-hidden="true">
    <span class="cx-big-radio__control" [class.cx-big-radio__control--selected]="selected$()">
      @if (selected$()) {
        <span class="cx-big-radio__dot"></span>
      }
    </span>
  </div>
  <div #choiceContent class="cx-big-radio__content">
      @if (visibleHeading$()) {
        <div class="cx-big-radio__title-row">
          <div class="cx-big-radio__label">{{ visibleHeading$() }}</div>
        </div>
      }
      @if (visibleDescription$()) {
        <div class="cx-big-radio__description">{{ visibleDescription$() }}</div>
      }
      <ng-content />
  </div>
  @if (icon; as iconName) {
    <cx-icon
      class="cx-big-radio__icon"
      [icon]="iconName"
      [mood]="iconMood"
      size="24"
      shape="square-subtle"
      aria-hidden="true"
    />
  }
</label>
