:root {
  --border-width: 1px;
  --line: var(--border-width) solid var(--opacity-mid);
  --line-discreet: var(--border-width) solid var(--opacity-low);
  --floating-surface-border: 0 solid transparent;
  --border-hover: var(--opacity-mid);
  --border-open: var(--opacity-mid);
  --border-active: var(--opacity-mid);
  --outline-tab: none;
  --outline-tab-offset: -2px;
  --outline-focus: none;
  --outline-focus-offset: -2px;
  --outline-active: none;
  --outline-active-offset: -2px;
  --outline-field-interaction: 2px solid var(--opacity-low);
}

:root[data-cx-keyboard-navigation] {
  --outline-tab: 2px solid var(--primary);
}
