:root {
  --motion-fast: 120ms;
  --motion-base: 180ms;
  --motion-slow: 240ms;

  --ease-out: cubic-bezier(0, .3, .3, 1);
  --ease-out-strong: cubic-bezier(.22, 1, .36, 1);
  --ease-out-in: cubic-bezier(.4, 0, .15, 1);
  --ease-in: cubic-bezier(0, .4, .15, 1);
}
