:root {
  --corner-shape: squircle;
  --radius-none: 0;
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-media-lg: 24px;
  --radius-xl: 32px;
  --radius-2xl: 64px;
  --radius-pill: 999px;
}
