:root {
  --icon-size-sm: 16px;
  --icon-size-md: 20px;
  --icon-size-lg: 24px;
  --icon-size-xl: 32px;

  --controller-size: 32px;
  --controller-size-small: 24px;
  --controller-size-large: 48px;
}
