:root {
  --font-family-base: 'Inter', sans-serif;
  --font-family-mono: 'Roboto Mono', monospace;

  --font-size-title-1: 24px;
  --font-size-title-2: 18px;
  --font-size-title-3: 16px;
  --font-size-body-lg: 16px;
  --font-size-body: 14px;
  --font-size-body-sm: 12px;
  --font-size-body-xs: 10px;

  --font-weight-regular: 450;
  --font-weight-medium: 550;
  --font-weight-bold: 700;

  --line-height-heading: 1.2;
  --line-height-body: 1.3;
  --line-height-small: 1.2;
}
