<div class="cx-kpi">
  @if (icon || hasHeading) {
    <div class="cx-kpi__header">
      @if (icon) {
        <cx-icon class="cx-kpi__icon" [name]="icon" size="32" shape="square-subtle" [mood]="mood" />
      }

      @if (hasHeading) {
        <div class="cx-kpi__heading">{{ heading }}</div>
      }
    </div>
  }

  <div class="cx-kpi__metric">
    <div class="cx-kpi__value">{{ value }}</div>

    @if (hasTrend) {
      <cx-trend-tag class="cx-kpi__trend" [value]="trendValue" [favor]="trendFavor" />
    }
  </div>

  @if (hasProgress) {
    <cx-progress-bar
      class="cx-kpi__progress"
      [label]="progressLabel"
      [value]="progress ?? 0"
      [max]="progressMax"
      [mood]="progressMood"
    />
  }

  @if (hasFooter) {
    <div class="cx-kpi__footer">{{ footer }}</div>
  }

  <ng-content select="[cxKpiChart]" />
</div>
