<section
  class="cx-workbench"
  [class.cx-workbench--align-top]="align$() === 'top'"
  [class.cx-workbench--align-bottom]="align$() === 'bottom'"
  [class.cx-workbench--height-small]="previewHeight$() === 'small'"
  [class.cx-workbench--height-medium]="previewHeight$() === 'medium'"
  [class.cx-workbench--height-large]="previewHeight$() === 'large'"
  [class.cx-workbench--width-small]="previewWidth$() === 'small'"
  [class.cx-workbench--width-medium]="previewWidth$() === 'medium'"
  [class.cx-workbench--width-large]="previewWidth$() === 'large'"
  [class.cx-workbench--width-full]="previewWidth$() === 'full'"
>
  <div class="cx-workbench__main">
    <div class="cx-workbench__preview">
      <div class="cx-workbench__preview-content">
        <ng-content select="[cxWorkbenchPreview]" />
      </div>
    </div>

    @if (showPreviewHeightControl || showPreviewWidthControl || showAlignControl) {
      <div class="cx-workbench__meta">
        @if (showPreviewHeightControl) {
          <div class="cx-workbench__meta-field">
            <span class="cx-workbench__meta-label">previewHeight</span>
            <cx-dropdown
              label=""
              ariaLabel="previewHeight"
              [availableValues]="previewHeightOptions"
              [value]="previewHeight$()"
              (valueChange)="onPreviewHeightChange($event)"
            />
          </div>
        }
        @if (showPreviewWidthControl) {
          <div class="cx-workbench__meta-field">
            <span class="cx-workbench__meta-label">previewWidth</span>
            <cx-dropdown
              label=""
              ariaLabel="previewWidth"
              [availableValues]="previewWidthOptions"
              [value]="previewWidth$()"
              (valueChange)="onPreviewWidthChange($event)"
            />
          </div>
        }
        @if (showAlignControl) {
          <div class="cx-workbench__meta-field">
            <span class="cx-workbench__meta-label">align</span>
            <cx-dropdown
              label=""
              ariaLabel="align"
              [availableValues]="alignOptions"
              [value]="align$()"
              (valueChange)="onAlignChange($event)"
            />
          </div>
        }
      </div>
    }
  </div>

  <aside class="cx-workbench__controls">
    <div class="cx-workbench__controls-content">
      <ng-content select="[cxWorkbenchNote]" />
      <ng-content select="[cxWorkbenchControls]" />
    </div>
  </aside>
</section>
