:host {
  display: block;
  width: 100%;
}

.cx-null-controller {
  display: flex;
  width: 100%;
  min-width: 0;
  flex-direction: column;
  gap: var(--space-sm);
}

.cx-null-controller__header {
  display: flex;
  width: 100%;
  min-width: 0;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-lg);
}

.cx-null-controller__label {
  color: var(--opacity-high);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body);
}

.cx-null-controller__description {
  margin: 0;
  color: var(--opacity-mid);
  font-size: var(--font-size-body-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-small);
}

.cx-null-controller__options {
  display: flex;
  width: 100%;
  min-width: 0;
  flex-direction: column;
  gap: var(--space-sm);
}
