@if (isOpen$()) {
  <section
    class="cx-fullscreen-dialog"
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="true"
    role="dialog"
    aria-modal="true"
    [attr.aria-labelledby]="dialogId + '-heading'"
    [attr.aria-describedby]="hasDescription() ? dialogId + '-description' : null"
    (keydown)="onEscape($event)"
  >
    <header class="cx-fullscreen-dialog__header">
      <div class="cx-fullscreen-dialog__heading-group">
        <h2 class="cx-fullscreen-dialog__heading" [id]="dialogId + '-heading'">{{ heading }}</h2>
        @if (hasDescription()) {
          <p class="cx-fullscreen-dialog__description" [id]="dialogId + '-description'">{{ description }}</p>
        }
      </div>

      @if (dismissible) {
        <cx-icon-button
          icon="remove"
          ariaLabel="Close fullscreen dialog"
          variant="transparent"
          (pressed)="onDismiss()"
        />
      }
    </header>

    <div class="cx-fullscreen-dialog__body">
      <ng-content />
    </div>

    @if (hasPrimaryAction() || hasSecondaryAction()) {
      <footer class="cx-fullscreen-dialog__footer">
        @if (hasSecondaryAction()) {
          <cx-button
            [text]="secondaryActionText"
            mood="default"
            [disabled]="disabled || loading"
            (pressed)="onSecondary()"
          />
        }
        @if (hasPrimaryAction()) {
          <cx-button
            [text]="primaryActionText"
            [mood]="primaryActionMood"
            [loading]="loading"
            [disabled]="disabled"
            (pressed)="onPrimary()"
          />
        }
      </footer>
    }
  </section>
}
