@if (isOpen$()) {
  <div class="cx-fullscreen-dialog__overlay">
    <section
      class="cx-fullscreen-dialog"
      cdkTrapFocus
      [cdkTrapFocusAutoCapture]="true"
      role="dialog"
      aria-modal="true"
      [attr.aria-label]="resolvedAriaLabel()"
      (keydown)="onEscape($event)"
    >
      @if (closeButton) {
        <cx-icon-button
          class="cx-fullscreen-dialog__close"
          icon="remove"
          ariaLabel="Close fullscreen dialog"
          variant="transparent"
          [rounded]="true"
          (pressed)="onDismiss()"
        />
      }

      <div class="cx-fullscreen-dialog__content">
        <ng-content />
      </div>
    </section>
  </div>
}
