<span
  class="cx-tag"
  [class.cx-tag--outline]="outline"
  [class.cx-tag--with-icon]="!!icon"
  [class.cx-tag--blue]="color === 'blue'"
  [class.cx-tag--cyan]="color === 'cyan'"
  [class.cx-tag--lime]="color === 'lime'"
  [class.cx-tag--green]="color === 'green'"
  [class.cx-tag--yellow]="color === 'yellow'"
  [class.cx-tag--orange]="color === 'orange'"
  [class.cx-tag--tangerine]="color === 'tangerine'"
  [class.cx-tag--red]="color === 'red'"
  [class.cx-tag--pink]="color === 'pink'"
  [class.cx-tag--purple]="color === 'purple'"
  [class.cx-tag--violet]="color === 'violet'"
>
  @if (icon; as iconName) {
    <cx-icon class="cx-tag__icon" [name]="iconName" [size]="12" aria-hidden="true" />
  }
  @if (visibleText) {
    <span class="cx-tag__text" [cxTooltip]="visibleText" [cxTooltipOverflow]="true">{{ visibleText }}</span>
  }
  @if (dismissible) {
    <button type="button" class="cx-tag__dismiss" [attr.aria-label]="dismissLabel" (click)="onDismiss($event)">
      <cx-icon name="remove" [size]="12" />
    </button>
  }
</span>
