<cx-menu
  [presentation]="{ kind: 'trigger' }"
  [items]="resolvedMenuItems$()"
  [open]="open$()"
  [disabled]="disabled"
  [width]="208"
  align="start"
  layout="fill"
  (openChange)="onOpenChange($event)"
  (itemSelect)="onItemSelect($event)"
>
  <button
    cxMenuTrigger
    class="cx-account-control"
    [class.cx-account-control--open]="open$()"
    [class.cx-account-control--collapsed]="collapsed"
    type="button"
    [attr.aria-label]="'Account actions for ' + username"
    [cxTooltip]="username"
    [cxTooltipOverflow]="!collapsed"
    [cxTooltipPosition]="collapsed ? 'right' : 'top'"
    [cxTooltipDelay]="collapsed ? 'none' : 'default'"
  >
    <span class="cx-account-control__identity">
      <cx-avatar
        class="cx-account-control__avatar"
        [name]="username"
        size="small"
        color="cyan"
      />
      <span class="cx-account-control__label" data-cx-tooltip-overflow>{{ username }}</span>
    </span>
    <cx-icon class="cx-account-control__icon" icon="chevrons-vertical" [size]="16" />
  </button>
</cx-menu>
