<cx-menu
  [items]="resolvedMenuItems$()"
  [open]="open$()"
  [disabled]="disabled"
  [width]="208"
  align="start"
  layout="fill"
  (openChange)="onOpenChange($event)"
  (itemSelect)="onItemSelect($event)"
>
  <button
    trigger
    class="cx-account-control"
    [class.cx-account-control--open]="open$()"
    [disabled]="disabled"
    type="button"
    [attr.aria-label]="'Account actions for ' + username"
    [attr.aria-expanded]="open$()"
    aria-haspopup="menu"
  >
    <span class="cx-account-control__identity">
      <cx-avatar
        class="cx-account-control__avatar"
        [name]="username"
        size="small"
        color="cyan"
      />
      <span class="cx-account-control__label">{{ username }}</span>
    </span>
    <cx-icon class="cx-account-control__icon" name="chevrons-vertical" [size]="16" />
  </button>
</cx-menu>
