:host {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

:host(.cx-empty-state-host--success) .cx-empty-state__icon {
  color: var(--success);
}

:host(.cx-empty-state-host--scheduled) .cx-empty-state__icon {
  color: var(--ink);
}

:host(.cx-empty-state-host--danger) .cx-empty-state__icon {
  color: var(--danger);
}

.cx-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-xl);
  max-width: calc(var(--controller-size) * 32);
  text-align: center;
}

.cx-empty-state__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--space-sm);
  color: var(--opacity-mid);
}

.cx-empty-state__heading {
  color: var(--ink);
  font-size: var(--font-size-title-3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
}

.cx-empty-state__text {
  max-width: calc(var(--controller-size) * 13);
  color: var(--opacity-high);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body);
}

.cx-empty-state__actions {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-sm);
  padding-top: var(--space-sm);
}

.cx-empty-state__content {
  width: 100%;
}
