<ng-content />

@if (isInteractive$()) {
  <div #actionsRail class="cx-action-area__actions" role="group" aria-label="Actions">
    @for (action of visibleActions$(); track action.key) {
      <cx-tooltip
        class="cx-action-area__action-tooltip"
        position="top"
        [text]="actionTooltipText(action)"
        [disabled]="!actionTooltipText(action)"
      >
        <cx-button
          class="cx-action-area__action"
          size="small"
          [text]="actionText(action)"
          [icon]="action.icon"
          [shortcutParts]="actionShortcutParts(action)"
          [ariaLabel]="actionAriaLabel(action)"
          [disabled]="action.disabled === true"
          (pointerdown)="onActionPointerDown($event)"
          (click)="onActionClick($event)"
          (pressed)="onActionPressed(action)"
        />
      </cx-tooltip>
    }
  </div>
}
