<cx-text-field
  [label]="label"
  [ariaLabel]="label"
  [name]="name"
  [autocomplete]="autocomplete"
  [type]="revealed$() ? 'text' : 'password'"
  [value]="value$()"
  [placeholder]="placeholder"
  [hint]="hint"
  [optional]="optional"
  [disabled]="disabled"
  [readOnly]="readOnly"
  [size]="size"
  [errorMessage]="errorMessage"
  [validationMessages]="validationMessages ?? []"
  (valueChange)="onValueChange($event)"
  (focusChange)="focusChange.emit($event)"
>
  <button
    cxTrailing
    type="button"
    class="cx-password-field__toggle"
    [class.cx-password-field__toggle--active]="revealed$()"
    [attr.aria-label]="revealed$() ? 'Hide password' : 'Show password'"
    [attr.aria-pressed]="revealed$()"
    [disabled]="disabled || readOnly"
    (click)="onToggle()"
  >
    @if (revealed$()) {
      <cx-spinner
        size="16"
        mood="primary"
        [segments]="revealSeconds"
        [value]="remaining$()"
        [ariaLabel]="'Hiding password in ' + remaining$() + ' seconds'"
      />
    } @else {
      <cx-icon name="lock" [size]="16" />
    }
  </button>
</cx-text-field>
