<div class="cx-item-card">
  @if (icon) {
    <div class="cx-item-card__icon">
      <cx-icon [name]="icon" size="20" />
    </div>
  }

  @if (heading.trim() || hasDescription) {
  <div class="cx-item-card__body">
    <div
      class="cx-item-card__heading"
      [cxTooltip]="heading"
      [cxTooltipOverflow]="true"
    >
      {{ heading }}
    </div>
    @if (hasDescription) {
      <div
        class="cx-item-card__description"
        [cxTooltip]="description"
        [cxTooltipOverflow]="true"
      >
        {{ description }}
      </div>
    }
  </div>
  }

  <div class="cx-item-card__action">
    <ng-content />
  </div>
</div>
