<label
  class="cx-big-checkbox"
  [class.cx-big-checkbox--checked]="selected$()"
  [class.cx-big-checkbox--disabled]="disabled"
  [class.cx-big-checkbox--has-icon]="!!icon"
>
  <input
    class="cx-big-checkbox__input"
    type="checkbox"
    [checked]="selected$()"
    [disabled]="disabled"
    [attr.aria-label]="heading || description || null"
    (change)="onNativeChange($event)"
    (focus)="onFocus(true)"
    (blur)="onFocus(false)"
  />

  <div class="cx-big-checkbox__indicator" aria-hidden="true">
    <span
      class="cx-big-checkbox__control"
      [class.cx-big-checkbox__control--checked]="selected$()"
    >
      @if (selected$()) {
        <span class="cx-big-checkbox__check"></span>
      }
    </span>
  </div>
  <div #choiceContent class="cx-big-checkbox__content">
      @if (visibleHeading$()) {
        <div class="cx-big-checkbox__label">{{ visibleHeading$() }}</div>
      }
      @if (visibleDescription$()) {
        <div class="cx-big-checkbox__description">{{ visibleDescription$() }}</div>
      }
      <ng-content />
  </div>
  @if (icon; as iconName) {
    <cx-icon
      class="cx-big-checkbox__icon"
      [name]="iconName"
      [mood]="iconMood"
      size="24"
      shape="square-subtle"
      aria-hidden="true"
    />
  }
</label>
